.profile_img{
	border: 3px solid black;
	width: 180px;
	height: 130px;
	text-align: center;
}

.profile_img img{
	width: 90%;
}



.send_btn_small{
	background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 35px;
     margin-top: 17px;
     transition: ease-in all 0.5s;
     border-radius: 40px;
     text-align: center;
}

.send_btn_small:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

.bigH1{
	font-size:50px;
}

.divOrange{
	border: 4px solid #f2c119;
	width: 100%;
	height: 80px;
	margin-top: 30px;
	padding-left: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.alignText{
	text-align: center;
	font-size: 20px;
	width: 12%;
}

.editTable{
	height: 233px;
}

.edit_img{
	margin-top: 10px;
	width: 170px;
	height: 120px;
}

.margin_td{
	margin-top: 21px;
}

.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #f2c119;
  overflow: hidden;
  pointer-events: none;
} 

.reviewContainer{
	padding-top: 30px;
	padding-left: 30px;
	padding-right:10px;
}

.reviewPriceDiv{
	background-color: #EAEAEA;
	font-size: 21px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 30px;
}

.review_Star {
  position: relative;
  font-size: 25px;
  color: #ddd;
}

.review_Star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.review_Star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #f2c119;
  overflow: hidden;
  pointer-events: none;
} 

.review_img{
	margin-top: 5px;
	width: 50px;
}

.review_name_font{
	margin-top: 5px;
	font-size:30px;
	color: black;
}

.review_title_font{
	font-size: 20px;
	color: black;
}

.review_content_font{
	font-size: 18px;
	color: black;
}

.starBig{
  font-size: 50px;
  color: #f2c119;
}

.starBig_font{
	font-size: 35px;
	color: #f2c119;
	margin-top: -10px;
}

.reviewHr{
	background-color: #f2c119;
	height: 3px;
}