.viewNav{
	overflow: hidden;
  background-color: #FFFFFF;
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 1000 !important; 
}

.viewUl {
  background-color: #FFFFFF;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 5px;
  text-align: center;
  display: block;
  border-top: 0;
  border-bottom: 2px solid #EAEAEA;
}

.viewLi {
	display:inline-block;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-left:20px;
  margin-right: 20px;
}

.viewActive {
  color: #183661;
  border-bottom: 5px solid #183661;
}

.fixed { position: fixed; top:100; left:100; }

.officials_main {
     background: url(../../officials/images/officials_main.jpg);
     padding: 97px 0px 0px 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     min-height: 698px;
}

.profile_img{
	border: 3px solid black;
	width: 180px;
	height: 130px;
	text-align: center;
}

.profile_img img{
	width: 90%;
}

.hospital_img{
	border: 3px solid black;
	width: 500px;
	height: 300px;
	text-align: center;
}

.hospital_img img{
	height: 90%;
}



.send_btn_small{
	background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 35px;
     margin-top: 17px;
     transition: ease-in all 0.5s;
     border-radius: 40px;
     text-align: center;
}

.send_btn_small:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

.send_btn_Ra{
	background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 130px;
     color: #fff;
     height: 35px;
     margin-top: 5px;
     margin-right: 5px;
     transition: ease-in all 0.5s;
     border-radius: 5px;
     text-align: center;
}

.send_btn_Ra:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

.bigH1{
	font-size:50px;
}

.contentH1{
	font-size:20px;
	margin-top: 7px;
	margin-left: 5px;
	display: inline;
	padding-bottom: 0px;
}

.divOrange{
	border: 4px solid #f2c119;
	width: 100%;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.alignText{
	text-align: center;
	font-size: 20px;
	width: 12%;
}

.editTable{
	height: 233px;
}

.edit_img{
	margin-top: 10px;
	width: 170px;
	height: 120px;
}

.margin_td{
	margin-top: 21px;
}

.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #f2c119;
  overflow: hidden;
  pointer-events: none;
} 

.reviewContainer{
	padding-top: 30px;
	padding-left: 30px;
	padding-right:10px;
}

.reviewPriceDiv{
	background-color: #EAEAEA;
	font-size: 21px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 30px;
}

.review_Star {
  position: relative;
  font-size: 25px;
  color: #ddd;
}

.review_Star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.review_Star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #f2c119;
  overflow: hidden;
  pointer-events: none;
} 

.review_img{
	margin-top: 5px;
	width: 50px;
}

.review_name_font{
	margin-top: 5px;
	font-size:30px;
	color: black;
}

.review_title_font{
	font-size: 20px;
	color: black;
}

.review_content_font{
	font-size: 18px;
	color: black;
	min-height: 150px;
}

.review_Box{
	width: 100%;
	height: 150px;
	position:relative;
}

.review_Box_left{
	width: 95%;
	background-color: #EAEAEA;
	height: 50px;
	position:absolute;
	left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.review_Box_right{
	width: 100%;
	height: 130px;
}

.starBig{
  font-size: 50px;
  color: #f2c119;
}

.starBig_font{
	font-size: 35px;
	color: #f2c119;
	margin-top: -10px;
}

.reviewHr{
	background-color: #f2c119;
}

.container_map {
	width: 1000px;
    display: flex; 
    flex-flow: row nowrap; 
    margin: auto;
}

.divRe{
	padding-top: 80px;
	width: 50%;
	height: auto;
	padding-right: 20px;
}

.divSt{
	padding-top: 80px;
	position: -webkit-sticky;
	position: sticky;
	width: 50%;
	height: calc(100vh - 80px);
	top: 0;
}

#roadviewControl {
	text-align: center;
	position:absolute;
	top:105px;
	left:50%;
	transform: translate(-50%, 0%);
	width: 200px;
	height:34px;
	z-index: 1;
	cursor: pointer; 
	background: #ECEBFF;
	border: 2px solid #183661;
	border-radius: 40px;
	padding-top: 5px;
	color: #183661;
}

#roadviewControl.active {
	background-position:0 -350px;
}

.mapBox{
	width: 90%;
	background-color: #5D5D5D;
	color: white;
	font-size: 20px;
}

.alertFont{
	color: #CC3D3D;
}